/* Botones utilizados en las páginas */
.button {
   padding: 0.5rem 1rem;
   background-color: var(--color-primario);
   border-radius: 21px;
   color: white;
   border: none;
   font-size: 1rem;
   transition: all 0.3s ease-in-out;
}
.btn-hollow {
   background-color: transparent;
   border: 2px solid white;
}
.btn-transparent {
   background-color: transparent;
   font-size: 1.2rem;
}
/* El efecto de hover lo dejo para los dispositivos
  que lo soporten*/
@media (hover: hover) {
   .button:hover {
      background-color: var(--color-secundario);
      cursor: pointer;
   }
   .btn-hollow:hover {
      border: 2px solid var(--color-primario);
      background-color: var(--color-primario);
   }
   .btn-transparent:hover {
      background-color: transparent;
      color: var(--color-primario);
   }
}
