.catalogo-wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
   font-size: 70%;
   padding: 0 0.5rem;
}

/* Estilizo select con flecha fontawesome */
.filter {
   margin: 2rem auto;
   max-width: 230px;
   position: relative;
}
.filter select {
   width: 100%;
   background-color: transparent;
   padding: 0.5rem 1rem;
   font-size: 1.1rem;
   text-align: center;
   border: 1px solid darkgray;
   color: darkgray;

   border-radius: 0.5rem;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}
.filter select:hover {
   border-color: var(--color-secundario);
   cursor: pointer;
}
.filter select:focus {
   border-color: var(--color-secundario);
   outline: none;
}
.filter select option {
   background-color: black;
}
.filter i {
   position: absolute;
   top: 0.5rem;
   right: 0.5rem;
   font-size: 1.4rem;
   z-index: -1;
   color: darkgray;
}

@media (min-width: 768px) {
   .catalogo-wrapper {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media (min-width: 980px) {
   .catalogo-wrapper {
      font-size: 100%;
   }
}
