/* Página de detalle del documental */

.body-detailinfo {
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.main-detailinfo {
   flex-basis: 100%;
   color: white;
}
.fondo-contenido {
   background-image: url(../img/imagen21.jpg);
   background-size: cover;
   background-position: center;
}

.ficha-doc {
   background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(4px) opacity(0.4);
   -webkit-backdrop-filter: blur(4px) opacity(0.4);
   padding: var(--menu-height) 0 1rem 0;
   text-shadow: 2px 2px 2px black;
}

.ficha-doc > .doc-title {
   width: 100%;
   text-align: center;
   padding: 1rem 0;
   font-size: 2rem;
   font-weight: normal;
}
.ficha-doc .doc-video {
   padding: 0.5rem;
}

.ficha-doc .doc-info {
   padding: 0.5rem;
   font-size: 90%;
   width: 90%;
   margin: 0 auto;
   border-radius: 1rem;
   background-color: rgba(0, 0, 0, 0.3);
}

.doc-info h2,
.doc-info h3 {
   font-weight: normal;
   color: var(--color-primario);
}
.doc-info p {
   margin-bottom: 0.5rem;
}
.doc-info p span {
   color: var(--color-primario);
}
.ficha-doc .doc-play {
   text-align: center;
   padding: 1rem;
}
.doc-play a {
   text-decoration: none;
}

.sec-degradada .container-rel,
.sec-degradada > h1 {
   max-width: var(--max-width);
   margin: 2rem auto;
}

/* Para el contenido relacionado usamos float */
.container-rel .doc-card {
   float: left;
   /* Ancho = ((Anchura seccion%) / 3) - margin aplicado)
      con esto se muestran 3 miniaturas abarcando la seccion */
   width: calc(100% / 3 - 1rem);
   margin: 1rem 0.5rem;
}

/* Solo para pantallas grandes muestro info al lado del video
   para dar protagonismo a este */
@media (min-width: 992px) {
   .ficha-doc {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-left: 4rem;
      padding-right: 4rem;
   }
   .ficha-doc .doc-video {
      width: 60%;
   }
   .ficha-doc .doc-info {
      width: 40%;
   }
}
