.site-header {
   background-image: url(../img/hero.jpg);
   height: 100vh;
   background-position: top center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.main-title {
   font-size: 12.5vw;
   font-family: "Monoton", Arial, Helvetica, sans-serif;
   color: var(--color-primario);
}

.tag-line {
   border: 1px solid white;
   padding: 0.5rem 1rem;
   border-radius: 40px;
   margin: 0 0.5rem;
   background-color: rgba(125, 125, 125, 0.3);
}
.tag-line p {
   font-family: "Roboto Mono", "Times New Roman", Times, serif;
   color: white;
}

@media (min-width: 768px) {
   .main-title {
      font-size: 10vw;
   }
   .tag-line p {
      font-size: 1.5vw;
   }
}
