/* Miniatura mostrada en las carátulas */

.doc-card {
   position: relative;
}

.doc-card a,
.doc-card img {
   display: block;
   width: 100%;
   text-decoration: none;
}

/* En mobile solo muestro titulo */
.info-miniatura h2 {
   color: white;
   font-weight: normal;
   font-size: 1rem;
   text-align: center;
}
.info-miniatura .no-info-mobile {
   display: none;
}

/* Logica del favorito */
.favorito {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0.5rem 0.5rem 0 0;
   font-size: 1.6rem;
}

.fav-checkbox,
.fas.fa-star,
.fav-checkbox:checked ~ .fav-label .far.fa-star {
   /*Ocultamos checkboxes, estrella solida y si hay check 
     estrella con solo borde */
   display: none;
}
.fav-checkbox:checked ~ .fav-label .fas.fa-star {
   /* Mostramos icono estrella solida cuando hay check */
   color: gold;
   display: inline;
}

/* Para pantallas mayores mostramos info detallada */
@media (min-width: 768px) {
   .info-miniatura {
      position: absolute;
      bottom: 0;
      padding: 0.5rem;
      background-color: rgba(125, 125, 125, 0.6);
      color: white;
      text-shadow: 2px 2px 2px black;
      transition: opacity 0.3s ease-in-out;
      width: 100%;

      opacity: 0;
   }
   .info-miniatura h2 {
      font-size: 1.1rem;
      font-weight: bold;
      color: var(--color-secundario);
   }
   .info-miniatura .no-info-mobile {
      display: block;
      font-size: 85%;
   }
   .no-info-mobile span {
      font-weight: 600;
      text-transform: uppercase;
   }

   .favorito:hover i {
      color: gold;
      cursor: pointer;
   }
   .doc-card:hover .info-miniatura {
      opacity: 1;
   }
}
