.doc-card {
   position: relative;
}

.doc-card a,
.doc-card img {
   display: block;
   text-decoration: none;
}

.info-miniatura h2 {
   color: white;
   text-decoration: none;
   font-weight: normal;
   font-size: 0.8rem;
   text-align: center;
}
.info-miniatura .no-info-mobile {
   display: none;
}

@media (min-width: 768px) {
   .info-miniatura {
      position: absolute;
      bottom: 0;
      padding: 0.5rem;
      background-color: rgba(125, 125, 125, 0.6);
      color: white;
      text-shadow: 1px 1px 1px rgb(0, 0, 0);

      display: none;
   }
   .info-miniatura h2 {
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--color-primario);
   }
   .info-miniatura .no-info-mobile {
      display: block;
   }
   .no-info-mobile span {
      font-weight: 600;
      text-transform: uppercase;
   }

   .doc-card:hover .info-miniatura {
      display: block;
   }
}
