/* Navbar responsive usando Mobile First */

.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   z-index: 9999;
   height: var(--menu-height);
   background-color: var(--color-navbar);

   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   text-align: center;
}

.navbar .logo {
   order: 1;
   flex-basis: 35vw;
}

.logo img {
   height: var(--menu-height);
}
.logo a {
   display: block;
   height: var(--menu-height);
}

.burger-label {
   color: white;
   order: 0;
   flex-basis: 25vw;
   font-size: 2.2rem;
}

#burger-checkbox {
   display: none;
}

/* Menu cerrado */
.navbar .menu-list {
   order: 3;

   display: none;
   text-align: center;
   list-style: none;
   font-size: 1.8rem;
   margin: 0;
   padding: 0;
}

.navbar .logout {
   order: 2;
   margin-right: 0.5rem;
   flex-basis: 25vw;
}

/* Menu abierto */
#burger-checkbox:checked ~ .menu-list {
   background-color: rgba(0, 0, 0, 0.7);
   flex: 1;
   height: calc(100vh - var(--menu-height));

   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.menu-list a {
   color: white;
   text-transform: uppercase;
}

.menu-item > a {
   display: block;
   line-height: var(--menu-height);
}

.search-item {
   order: -1;
}

.search-item input {
   background: none;
   border: none;
   border-bottom: 1px solid white;
   color: gray;
   font-size: 1.4rem;
   margin-right: 0.5rem;
   width: 40%;
}

/* Adaptamos contenido a pantallas mayores */
@media (min-width: 768px) {
   .burger-label {
      display: none;
   }
   .navbar {
      flex-wrap: nowrap;
   }
   .navbar a,
   .navbar input {
      font-size: 1.1rem;
      margin-left: 1rem;
   }

   .navbar .logo,
   .navbar .logout {
      flex-basis: auto;
      margin-right: 1.4rem;
   }
   .navbar .menu-list {
      display: inherit;
      padding: 0;
      order: 1;
      flex-basis: 80%;

      justify-content: flex-end;
      align-items: center;
   }

   .menu-list a {
      transition: all 0.3s ease-in-out;
   }

   .menu-list a:hover {
      color: var(--color-primario);
   }

   .search-item {
      order: 1;
      flex-basis: 40%;
   }
   .search-item input {
      width: 50%;
   }
}
