/* Sección novedades de main.html */

.novedades-wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
   max-width: var(--max-width); /* Ajuste seccion deg */
   margin: 2rem auto;
   padding: 0 0.5rem;
}
