/* Reloj de la página de comming soon */

.reloj {
   width: 150px;
   height: 150px;
   position: relative;
   margin: 1rem auto;
   background-image: url(../img/reloj.jpg);
   background-color: white;
   border-radius: 50%;
}
.palo-hora,
.palo-minutos {
   background-color: black;
   border-radius: 3px;
   position: absolute;
   top: 50%;
   left: 50%;
}

.palo-hora {
   width: 40px;
   height: 8px;
   animation: rotateAgujas 60s;
   animation-iteration-count: infinite;
}

.palo-minutos {
   width: 70px;
   height: 5px;
   animation: rotateAgujas 30s;
   animation-iteration-count: infinite;
}

@keyframes rotateAgujas {
   0% {
      transform: rotate(0deg);
      transform-origin: center left;
   }
   25% {
      transform: rotate(90deg);
      transform-origin: center left;
   }
   50% {
      transform: rotate(180deg);
      transform-origin: center left;
   }
   75% {
      transform: rotate(270deg);
      transform-origin: center left;
   }
   100% {
      transform: rotate(359deg);
      transform-origin: center left;
   }
}

.rotateAgujas {
   animation-name: rotateAgujas;
}
