@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Monoton&family=Roboto+Mono:ital,wght@1,300&display=swap");

:root {
   --max-width: 1400px;
   --menu-height: 80px;
   --color-primario: #a51c30;
   --color-secundario: #ac505e;
   --color-navbar: rgba(165, 28, 48, 0.4);
}
* {
   font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
body {
   background-color: black;
   overflow-x: hidden;
}
.main {
   max-width: var(--max-width);
   margin: 0 auto;
}
/* Secciones en general*/
.section {
   margin: 5rem 0;
   padding: 0 0.5rem;
   color: white;
}
.section > h1 {
   font-weight: normal;
   margin-bottom: 1rem;
   text-transform: uppercase;
   border-bottom: 1px solid white;
}

/* Secciones con degradado*/
.section.sec-degradada {
   background: rgba(0, 0, 0, 1);
   background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(125, 125, 125, 1) 35%,
      rgba(125, 125, 125, 1) 67%,
      rgba(0, 0, 0, 1) 100%
   );
   background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 1)),
      color-stop(35%, rgba(125, 125, 125, 1)),
      color-stop(67%, rgba(125, 125, 125, 1)),
      color-stop(100%, rgba(0, 0, 0, 1))
   );
   background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(125, 125, 125, 1) 35%,
      rgba(125, 125, 125, 1) 67%,
      rgba(0, 0, 0, 1) 100%
   );
   background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(125, 125, 125, 1) 35%,
      rgba(125, 125, 125, 1) 67%,
      rgba(0, 0, 0, 1) 100%
   );
   background: -ms-linear-gradient(
      top,
      rgba(0, 0, 0, 1) 0%,
      rgba(125, 125, 125, 1) 35%,
      rgba(125, 125, 125, 1) 67%,
      rgba(0, 0, 0, 1) 100%
   );
   background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(125, 125, 125, 1) 35%,
      rgba(125, 125, 125, 1) 67%,
      rgba(0, 0, 0, 1) 100%
   );
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
   margin-left: calc(50% - 50vw);
   margin-right: calc(50% - 50vw);
}
